body{
    
    header {
        padding:3em;
        margin-bottom:3em;
        .container {
            display:flex;
            flex-wrap:row;
            align-items:start;
            justify-content:start;
            background-color: var(--bs-secondary-color);
            
            div {
                
                p {
                   
                  }
                }
            }
        
                    }
    main {
        header {
            
        }
        aside {
            ul {
                li {
                    list-style:none;
                }
            }
        }
    }
    }